.me{
    padding: 35px;
    /* width: 58.333333333%; */
    text-align: center;
    display: block;
}

.fewwords{
    padding: 5px;
    text-transform: uppercase;
    font-size: medium;
    font-weight: 400;
    letter-spacing: 0.3em;
    color: #878a8f;
    font-family: "Helvetica Now Display DW",sans-serif;
    
}

.bigme{
    font-size: 2.75rem;
    line-height: 3.125rem;
    padding-top: 4px;
    padding-bottom: 1px;
    font-family: "Helvetica Now Display DW",sans-serif;
    font-weight: 800;
    letter-spacing: -.01em;
    color: #0f141e;
    margin-top: 5px;
}

.moto{
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: #878a8f;
    letter-spacing: 0.2rem;
    font-size: 1.275rem;
    line-height: 1.875rem;
    padding-top: 2px;
    padding-bottom: 3px;
    
}