.me2{
    padding: 35px;
    /* width: 58.333333333%; */
    text-align: center;
    display: block;
}

.achieve{
    padding: 5px;
    text-transform: uppercase;
    font-size: medium;
    font-weight: 400;
    letter-spacing: 0.3em;
    color: #878a8f;
    font-family: "Helvetica Now Display DW",sans-serif;
    
}

.bigachieve{
    font-size: 2.75rem;
    line-height: 3.125rem;
    padding-top: 4px;
    padding-bottom: 1px;
    font-family: "Helvetica Now Display DW",sans-serif;
    font-weight: 800;
    letter-spacing: -.01em;
    color: #0f141e;
}

.flaggif{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(15,20,30,.03),0 1px 3px 0 rgba(15,20,30,.1);
    transition: box-shadow .2s ease-in-out;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    border: 0;
    /* vertical-align: middle; */
    /* max-width: 100%; */
    height: 700px;
    display: block;
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(15,20,30,.03),0 1px 3px 0 rgba(15,20,30,.1);
    transition: box-shadow .2s ease-in-out;
    
}

.flags{
    display: flex;
    flex-direction: row;
    padding: 35px;
    
}

.flag{
    width: 32%;
    
}
.flag:hover{
    content: "";
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0 12px 16px 1px rgba(15,20,30,.03),0 1px 3px 0 rgba(15,20,30,.1);
    transition: box-shadow .2s ease-in-out;
    /* height: 700px; */
    display: block;
    border-radius: 10px;
    
}


