
.wrapper{
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    
}

.end{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;

}
