.content{
    padding: 35px;
    width: 58.333333333%;
}

.homename{
    padding: 5px;
    text-transform: uppercase;
    font-size: medium;
    font-weight: 400;
    letter-spacing: 0.3em;
    color: #878a8f;
    font-family: "Helvetica Now Display DW",sans-serif;
    
}

.pfpimage{
    position: absolute;
    top: 15%;
    left: 61%;
    width: 525px;
    height: 500px;
    display: flex;
    
}

section div h1{
    font-size: 3.875rem;
    line-height: 4.0625rem;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    /* font-family: "Helvetica Now Display DW",sans-serif; */
    font-weight: 800;
    letter-spacing: -.01em;
    color: #0f141e;
}

section div p{
    margin-top: 25px;
    font-weight: 500;
    color: #878a8f;
    letter-spacing: normal;
    font-size: 1.275rem;
    line-height: 1.875rem;
    padding-top: 2px;
    padding-bottom: 3px;
}